.navbar-container {
	width: auto;
	background-color: lightgray;
	color: black;
	display: flex;
	height: 35px;
	align-items: center;
}

.sidebar-btn {
	width: 20px;
	height: auto;
	margin-right: 6px;
	cursor: pointer;
}

.nav-list {
	display: flex;
	list-style-type: none;
	cursor: pointer;
}

.components {
	margin-right: 20px;
	align-self: center;
	border: none;
	background-color: lightgray;
	cursor: pointer;
	font-size: 16px;
}

.gaming-computers,
.gaming-laptops,
.monitors,
.gaming-chairs {
	color: black;
	margin-right: 20px;
	text-decoration: none;
	align-self: center;
}
